h1{
    font-weight: 900;
}

/* p{
    width: 100%;
} */
.box{
    height: 300px;
    width: 400ppx;
    background-color: pink;
    animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;

}
@keyframes fontAnimation{
    from{
        font-size: 30px;
        color: aqua;
    }
    to{
        font-size: 80px;
        color: brown;
    }

}